body {
	margin: 0;
    color:#777;
    font-family: 'Lato', sans-serif;	
    height: 100%;
}
html{
    height: 100%;
	min-width: 1100px;
}

h1, h2, h3{
    color: #39a39e;
}

b{
    color:#275957;
}

.post{
    margin-bottom:20px;
}

.container{
    padding: 5px 35px;
}

#message-field{
    margin-top:25px;
}

#title {
    line-height: 60px;
    width:100%;
    height: 60px;
    background-color: #39a39e;
    margin: 0;
}

ul.nav-links li:first-child{
    margin-left:30px;
}


ul.nav-links{
    position: relative;
    list-style-type: none;
    margin:0;
    padding:0;
    float:right;
    top:0;
    display: inline;
}

ul.nav-links li {
    display:inline-block;
}

ul.nav-links li a{
    color:#fff;
    display:inline-block;
    padding-right:15px;
    padding-left:15px;
}

ul.nav-links li:last-child{
    margin-right:15px;
}

ul.nav-links li:hover{
    background-color:#57a6a2;
    text-transform: none;
    color:#fff;
}

a, a:link, a:visited, a:active, a:hover{
    text-decoration: none;
    color:#39a39e;
}

ul {
    list-style: none;
}
#main_feed li, #user_info li{
    padding: 2px;
    margin: 2px;
}

#main_feed{
    
    border-width: 2px;
    float: right;
    margin-right: 20px;
    margin-top: 50px;
    width: 75%;
    height: 100%;
}

#user_feed{
    border-width: 2px;
    float: right;
    margin-right: 20px;
    margin-top: -150px;
    width: 65%;
    height: 100%;
}

#bar {
	border-width: 2px;
    float: right;
    margin-right: 20px;
    margin-top: -200px;
    width: 65%;
	height: 50px;
}

#user_feed .post, #main_feed .post{
    margin-bottom: 40px;
}

#nameContainer{
    float: right;
    margin-right: 100px;
    width: 50%;
    display: inline-block;
}

#nameContainer h1{
    font-size: 80px;
}

#profile_pic{
    width: 30%;
    margin-bottom: 50px;
    display: inline-block;
}
#profile_pic img{
    width: 100%;
    max-height: 100%;
    margin: auto;
    padding: 0 0;
    display: inline-block;
}

#user_info{
    height: 100%;
    width: 30%;
    display: inline-block;
}

#main_side{
    margin-top: 50px;
    height: 100%;
    width: 20%;
    display: inline-block;
}

#user_info .info_section, #main_side .info_section{
    width: 100%;
    border-top-style: solid;
    border-color:#85b7b5;
    border-top-width: 1px;
    margin: 10px 10px;
}

#user_info .info_section h2, #main_side .info_section h2{
    margin-top: 5px;
}


#groupActivity h2{
    padding-bottom:25px;
}

#yourGroups {
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-top: 50px;
    width: 23%;
    height: 100%;
    padding:10px 5px;
}

#groupActivity {
    display: inline-block;
    float: right;
    margin-right: 20px;
    margin-top: 50px;
    width: 70%;
    height: 100%;
    padding:10px 10px;
}

#groupActivity ul li {
    padding:15px;
}

#username-field {
    margin-left: 40%;
}

h3 {
    font-size: 35px;
    position: absolute;
    left: 115px;
    top: 0;
    color: white;
    margin-top: 0px;
}

footer {
    display:block;
    clear:both;
    bottom:0;
    text-align: center;
    background-color: #39a39e;
    width: 100%;
    color: white;
    height:100px;
    padding-top:15px;
}

#main_feed{
    overflow:auto;
}

a, a:active, a:link, a:visited{
    color:#7da9a7;
}

h1#uname{
    padding-bottom:50px;
}

#main_feed .post, #user_feed .post, #groupActivity .post{
    background-color:#eee;
    padding-bottom:20px;
    padding-top: 7px;
    padding-left:7px;
    border-radius:15px;
}

#yourGroups ul li{
    padding-top:10px;
}

#editform {
	text-align: center;
}

#postheader {
	display: inline;
	padding-right: 20px;
}

#post {
	display: inline;
	width: 70%;
}

#postbutton {
	display: inline;
	margin-left: 20px;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 50px; 
}
.site-footer {
  background-color: #39a39e;
}
