html {
    color:#39a39e;
}
body {
	margin: 0;
    font-family: 'Lato', sans-serif;	
    height: 100%;
}
html{
    height: 100%;
}


#title {
    line-height: 60px;
    width:100%;
    height: 60px;
    background-color: #39a39e;
    margin: 0;
}

ul.nav-links li:first-child{
    margin-left:30px;
}


ul.nav-links{
    position: relative;
    list-style-type: none;
    margin:0;
    padding:0;
    float:right;
    top:0;
    display: inline;
}

ul.nav-links li {
    display:inline-block;
}

ul.nav-links li a{
    color:#fff;
    display:inline-block;
    padding-right:15px;
    padding-left:15px;
}

ul.nav-links li:last-child{
    margin-right:15px;
}

ul.nav-links li:hover{
    background-color:#57a6a2;
    text-transform: none;
    color:#fff;
}

a, a:link, a:visited, a:active, a:hover{
    text-decoration: none;
    color:inherit;
}

ul {
    list-style: none;
}

#main_feed{
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    float: right;
    margin-right: 20px;
    margin-top: 50px;
    width: 75%;
    height: 100%;
}

#user_feed{
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    float: right;
    margin-right: 20px;
    margin-top: -200px;
    width: 65%;
    height: 100%;
}

#user_feed .post, #main_feed .post{
    margin-bottom: 40px;
    border-top-style: solid;
    border-top-width: 1px;
}

#nameContainer{
    float: right;
    margin-right: 100px;
    width: 50%;
    display: inline-block;
}

#nameContainer h1{
    font-size: 80px;
}

.profileAvatar{
    width: 30%;
    margin-bottom: 50px;
    display: inline-block;
}
.profileAvatar img{
    width: 100%;
    max-height: 100%;
    margin: auto;
    padding: 0 0;
    display: inline-block;
}

#user_info{
    height: 100%;
    width: 30%;
    display: inline-block;
}

#user_info .info_section{
    width: 100%;
    border-top-style: solid;
    border-top-width: 1px;
}

#user_info .info_section h2{
    margin-top: 5px;
}

#username-field{
    margin-left: 40%;
    margin-right: -60%;
}

h3 {
    font-size: 35px;
    position: absolute;
    left: 115px;
    top: 0;
    color: white;
    margin-top: 0px;
}

