body {
	margin: 0;
    font-family: 'Lato', sans-serif;	
    height: 100%;
}
html{
    height: 100%;
}

#title {
    line-height: 60px;
    width:100%;
    height: 60px;
    background-color: #39a39e;
    margin: 0;
}

ul.nav-links li:first-child{
    margin-left:30px;
}


ul.nav-links{
    position: relative;
    list-style-type: none;
    margin:0;
    padding:0;
    float:right;
    top:0;
    display: inline;
}

ul.nav-links li {
    display:inline-block;
}

ul.nav-links li a{
    color:#fff;
    display:inline-block;
    padding-right:15px;
    padding-left:15px;
}

ul.nav-links li:last-child{
    margin-right:15px;
}

ul.nav-links li:hover{
    background-color:#57a6a2;
    text-transform: none;
    color:#fff;
}

a, a:link, a:visited, a:active, a:hover{
    text-decoration: none;
    color:inherit;
}

ul {
    list-style: none;
}

#user_feed{
    border-style: solid;
    border-width: 2px;
    float: right;
    margin-top: 50px;
    margin-right: 20px;
    width: 65%;
    height: 100%;
}

#user_feed .post{
    margin-bottom: 40px;
    border-top-style: solid;
    border-top-width: 1px;
}

#nameContainer{
    float: right;
    margin-right: 50px;
    width: 60%;
}

#profileAvatar{
    width: 35%;
    margin: 0px;
    padding: 0px;
}

#profileAvatar a{
    margin: 0px;
    height: 50px;
}

