body {
	margin: 0;
	font-family: sans-serif;
	width: 100%;
}

#body {
	text-align: center;
}

#title {
	width: 1345px;
	height: 100px;
	background-color: #39a39e;
	margin: 0;
}

#left-sidebar {
	float: left;
	left: 0px;
	width: 300px;
}

ul {
	list-style: none;
}

#slideshow { 
    margin: 0 auto; 
    position: absolute; 
	left: 400px;
	top: 200px;
    width: 600px; 
    height: 500px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#title img {
	position: absolute;
	top: 0;
	left: 0;
}
#title #links span {
	display: inline-block;
	text-decoration: none;
	width: 200px;
	height: 100px;
	text-align: center;
	border-right: 1px solid #E2E2E2;
}

#links {
	margin-left: 300px;
	height: 100px;
}

#title #links span a {
	display: block;
	position: relative;
	top: 40%;
	text-decoration: none;
	font-size: 20px;
	color: white;
}

#left-sidebar ul li {
	margin-top: 30px;
	margin-bottom: 30px;
}

#sidebar-title {
	color: #39a39e;
	text-decoration: underline;
}

#slideshow-title {
	position: absolute;
	left: 550px;
	margin-top: 10px;
}

h1 {
	color: #39a39e;
}
